/* text formatting */
body {
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: rgb(93,109,126);
	font-size: calc(12px + 0.390625vw);
}
h1 {
	text-align: center;
	padding.top: 5px;
	padding: 1;
	max-width:100%;
	font-size: 2rem;
}
h2 {
	text-align:center;
	paddint.top:3px;
	padding: 1;
	max-width:100%;
	font-size: 1.5rem;
}
p {
	text-align: left;
	margin-right: 5%;
	margin-left: 5%;
	max-width: 100%;
}
a {
	color: black;
	max-width: 100%;
}
ul {
	text-align: left;
	padding-left: 10%;
}

/* images */
img {
	width: 100%;
	margin: auto;
	max-width: 100%;
}
img:hover {
  transition: transform .1s;
  transform: scale(1.00); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
/*img:active {
	-webkit-transform: scale(2);
}*/


/* div styles */
.header {
	 background-color: rgb( 242, 243, 244);
	 /*background-image: linear-gradient(to right, rgb(42,43,44), rgb(0,0,0));*/
		overflow: hidden;
		max-width:100%;
		padding-top: 2vw;
		padding-bottom: 2vw;
		
}
.mainmenu {
		background-color: #333;
		overflow: hidden;
		padding: 10px;
		max-width:100%;
		
	}
.mainmenu a {
	float: center;
	color: #f2f2f2;
	text-align: center;
	padding: 3rem;
	font-family: 'Montserrat Bold',Futura,Trebuchet MS,Arial,sans-serif;
	font-size: calc(12px + 0.390625vw);
}
.gallery {
	border-width: 3px;
	border-style: solid;
	boder-color: #333;
	max-width: 70vw;
	min-width: 50vw;
	padding: 10px;
	padding-bottom: 10px;
	background-color: rgb( 242, 243, 244);
	margin: auto;
	text-align: center;
}
.links {
	margin: auto;
	text-align: center;
	overflow: hidden;
	padding: 10px;h
}