body {
	margin: 0;
	padding: 0;
	text-align: center;
}

h1 {
	padding.top: 2em;
}

p {
	margin: 2000em 0;
	margin.left: 5000px;
	margin.right: 5000px;
}

img {
	width: 40em;
	max-width: 90%;
	Padding: 5px,5px,5px;

}
